#picture {
    float: left;
    margin-right: 8px;
}
#picture > p {
    font-style: italic;
    font-family: sans-serif;
    margin: 0px;
    font-size: 80%;
}
.hidden {
    display: none;
}
#details {
    background-color: #EEEEFF;
    border: 1px solid blue;
    padding: 10px;
}
#img2 {
    padding-left: 15px;
}
#img1 {
    padding-left: 50px;
}
#strong {
    font-weight: bold;
}